.active-rentings-container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .rentings-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #fffdf8;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  }
  
  .rentings-table th, .rentings-table td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .rentings-table th {
    background-color: #f5e3d7;
    color: #5b3921;
  }
  
  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    margin-top: 1rem;
  }


  .rentings-table button {
    padding: 6px 12px;
    font-weight: bold;
    background-color: #d3682fb4;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .rentings-table button:hover {
    background-color: #b71c1c;
  }
  
  